<div class="container mt-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="border rounded p-4 bg-light text-center" style="max-width: 600px; width: 100%;">
    <h1 class="text-center">Bienvenido a la gestión de tareas</h1>
    <div class="mt-4 mb-4">
      <img src="https://therocketcode.com/images/lpHome/frame.svg" alt="Imagen de Bienvenida" class="img-fluid" style="max-height: 200px;">
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a routerLink="/alta-tarea" class="btn btn-primary mx-2">Registrar Tarea</a>
      <a routerLink="/listado-tareas" class="btn btn-secondary mx-2">Ver Tareas</a>
    </div>
  </div>
</div>
